NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=87f9acfa5eb566258c4e9376f782edbb
NEXT_PUBLIC_CONTRACT_ADDRESS=
GOOGLE_API_KEY=
PINATA_JWT=
NEXT_PUBLIC_GATEWAY_URL=
ARGATEWAY_URL=
ARIATEWAY_URL=
AI_WALLET_PRIVATE_KEY=
